<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Azumane Asahi</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex Sans&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="./css/styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e1_2><span  class="e5_3">Azumane Asahi</span><span  class="e5_5">Асахи Азумане (яп. 東峰 旭 Azumane Asahi) — третьекурсник старшей школы Карасуно, играющий на позиции доигровщика,
является асом Карасуно. С 2018 года он работает дизайнером одежды в Токио.
</span><div  class="e5_7"></div><div class=e9_38><span  class="e9_39">          Волейбол
Тонкоцу рамен</span><span  class="e9_40">Симпатия</span></div><div class=e9_33><span  class="e9_34">                                Не сдаваться
           Не подводить команду
Обладать подсознанием аса</span><span  class="e9_35">Цель</span></div><div class=e8_30><span  class="e8_31">Япония</span><span  class="e8_32">Страна</span></div><div class=e8_27><span  class="e8_28">Префектура Мияги</span><span  class="e8_29">Место жительства</span></div><div class=e8_24><span  class="e8_25">75.2 кг</span><span  class="e8_26">Вес</span></div><div class=e8_21><span  class="e8_22">184.7 см — апрель
186.4 см — ноябрь
</span><span  class="e8_23">Рост</span></div><div class=e8_18><span  class="e8_19">1 января</span><span  class="e8_20">День рождения</span></div><div class=e8_15><span  class="e8_16">18 (ранее)
23 (2018)</span><span  class="e8_17">Возраст</span></div><div class=e8_14><span  class="e8_13">Мужской</span><span  class="e8_12">Пол</span></div><div  class="e9_42"></div></div>
          </body>
          </html>